In [1]:
from pprint import pprint
# import pandas as pd #import pandas
# import numpy as numpy #import numpy
# from sklearn.utils import shuffle # to shuffle the data 
# import random # import random
# import sklearn # import sklearn
# import nltk # import nltk
# from nltk.corpus import stopwords #import stop words
# import re # import regular expression
# from nltk.tokenize import word_tokenize # import word_tokenize
# import matplotlib
# import matplotlib.pyplot as plt #import matplotlib.pyplot 
# from sklearn.feature_extraction.text import TfidfVectorizer #  import TF-idf vectorizer

# %matplotlib inline

In [2]:
from sklearn.utils import shuffle
from utils import loadRawTrainData

dataFrame = loadRawTrainData()
dataFrame = shuffle(dataFrame, random_state=10)
dataFrame.head()

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/sam.bhandari/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     /Users/sam.bhandari/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

,sentiment,id,timestamp,query,user,tweet
685610,0,2250819430,Sat Jun 20 01:34:59 PDT 2009,NO_QUERY,The_Khristos,"@MrDAprano, honnestly I'm not going to miss th..."
446784,0,2068515884,Sun Jun 07 14:12:53 PDT 2009,NO_QUERY,teale,Tired after spending a restless night with Tie...
1231978,4,1991871464,Mon Jun 01 07:48:38 PDT 2009,NO_QUERY,jenjeahaly,@bradgallaway Yup popiscle Not sure if you've...
1496263,4,2070090087,Sun Jun 07 17:04:40 PDT 2009,NO_QUERY,fashinator1985,@candydiaz LOL save a lil arse for me candy!
944257,4,1795457800,Thu May 14 07:48:29 PDT 2009,NO_QUERY,krrley,@StephanieFizer No problem!! Your stuff is so ...

In [3]:
from utils import removeUnusedColumns

dataFrame = removeUnusedColumns(dataFrame)
dataFrame.head()

Removing columns - id, timestamp, query, and user

         sentiment                                              tweet
685610           0  @MrDAprano, honnestly I'm not going to miss th...
446784           0  Tired after spending a restless night with Tie...
1231978          4  @bradgallaway Yup popiscle  Not sure if you've...
1496263          4      @candydiaz LOL save a lil arse for me candy!
944257           4  @StephanieFizer No problem!! Your stuff is so ...

In [4]:
dataFrame.sentiment.value_counts()

4    800000
0    800000
Name: sentiment, dtype: int64

In [5]:
from baseline import predict

baselineTrainPrediction = predict(dataFrame)
baselineTrainPrediction.head()

685610     4
446784     0
1231978    4
1496263    4
944257     4
dtype: int64

In [6]:
from baseline import getConfusionMatrix
baselineConfusionMatrix = getConfusionMatrix(dataFrame, baselineTrainPrediction)
pprint(baselineConfusionMatrix)

array([[132985, 667015],
       [ 49349, 750651]])

In [7]:
from baseline import getAccuracy
baselineTrainAccuracy = getAccuracy(dataFrame, baselineTrainPrediction)
print('Accuracy of Baseline model for training data is: %f' %(baselineTrainAccuracy))

Accuracy of Baseline model for training data is: 0.552273

In [8]:
from utils import loadDataForTesting

testDf = loadDataForTesting()
testDf.head()

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/sam.bhandari/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     /Users/sam.bhandari/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
Removing columns - id, timestamp, query, and user

   sentiment                                              tweet
0          4  @stellargirl I loooooooovvvvvveee my Kindle2. ...
1          4  Reading my kindle2...  Love it... Lee childs i...
2          4  Ok, first assesment of the #kindle2 ...it fuck...
3          4  @kenburbary You'll love your Kindle2. I've had...
4          4  @mikefish  Fair enough. But i have the Kindle2...

In [9]:
testDf.sentiment.value_counts()

4    182
0    177
2    139
Name: sentiment, dtype: int64

In [10]:
neutralRemovedDf = testDf.drop(testDf[testDf.sentiment == 2].index)
neutralRemovedDf.sentiment.value_counts()
neutralRemovedDf.head()

   sentiment                                              tweet
0          4  @stellargirl I loooooooovvvvvveee my Kindle2. ...
1          4  Reading my kindle2...  Love it... Lee childs i...
2          4  Ok, first assesment of the #kindle2 ...it fuck...
3          4  @kenburbary You'll love your Kindle2. I've had...
4          4  @mikefish  Fair enough. But i have the Kindle2...

In [11]:
baselineTestPrediction = predict(neutralRemovedDf)
baselineTestAccuracy = getAccuracy(neutralRemovedDf, baselineTestPrediction)
print('Accuracy of Baseline model for test data is: %f' %(baselineTestAccuracy))

Accuracy of Baseline model for test data is: 0.604457

In [13]:
from testModels import testAll
from utils import preProcessWithTokens
from gridSearch import getIntegerEncoder, getPaddedInputIntegerSequences, getEncodedClasses, IntegerEncoder
from gridSearch import createLSTMModel, createCNNModel

testAll(neutralRemovedDf)

naiveBayesTF test accuracy score:  0.821727
naiveBayesTFIDF test accuracy score:  0.821727
logitTF test accuracy score:  0.818942
logitTFIDF test accuracy score:  0.830084
svmTF test accuracy score:  0.816156
svmTFIDF test accuracy score:  0.827298
lstm test accuracy score:  0.816156
cnn test accuracy score:  0.818942